# RETRIVING DATA

>•	It’s a good practice to write table name before column name while retrieving as it clarifies which table’s column we are trying to get.  
•	SQL treats all spaces same
•	If column name is matching with function use double quotes for column name

# SQL LIMIT

>•	It limits the result up to the input given

## WHERE CLAUSE


>•	It’s a condition we put to get the certain result

## COMPARISON OPERATORS


>	Equal to  =

>	Not equal to <>, !=

>	Greater than or equal to >=

>	Less than or equal to <=

>It’s possible to perform arithmetic operations in queries

## LOGICAL OPERATORS


>	Order by- to arrange data ASC or DESC


>Like- match similar values instead of exact ones(mostly used with % or _ in pattern finding) , it’s also a case sensitive for that use ILIKE

>	IN-logical operator in SQL that allows you to specify a list of values that you'd like to include in the results(eg. Find names whose initial letter have vowels in them ), it’s also case sensitive

>	Between-finds values in provided range

>	Is null- will give rows which have null values, you can’t write ‘=null’ as you can’t perform arithmetic on null values

>	And- consider both conditions
	Or- consider either one of them

## AGGREGATE FUNCTIONS

>	Count,Sum,Avg,Min,Max(Aggregators aggregates vertically only) 

>Count- 1. Count(*) OR Count(1)  will count all rows from column 2.count(column name) for individual column 

>Sum – Sum(column name) will return sum from that column

>Min- returns lowest value/date/closes alphabet possible to A

>Max- opposite of min

>Avg- returns average of columns

## SQL GROUP BY CLAUSE

>•	1.for counting part of table and it’s count  2. We can also count multiple columns 3. We can also group by column numbers (tip use count* as you will be counting whole row sometimes)

## SQL HAVING CLAUSE

>•	Important – Aggregate functions are not allowed in where clause so we use having clause
•	Query clause order: select-from-where-group by-having-order by
•	Having clause use to filter queries with aggregate functions
•	Alternative of having is subquery

>•	SELECT year,


>  month,

>	      MAX(high) AS month_high
>	  FROM tutorial.aapl_historical_stock_price
>	GROUP BY year, month
>	HAVING MAX(high) > 400
>	ORDER BY year, month

>Another way is subquery

>•	 SELECT year,month,max(high) as month_high

>	   from( 
>	   select year,month,high
>	   from tutorial.aapl_historical_stock_price 
>	   WHERE high>400
>	   )sub
>	 GROUP BY 1,2
>	ORDER by 1,2

## CASE

>•	It’s like a if/else statement

>•	Syntax-   select
                Case  when (condition) then (output)
                          Else (output) end
                
>•	Multiple case statements are allowed

## DISTINCT

>•	To select unique values

>•	When it comes to the performance using distinct keyword will slow down performance

## JOIN

>To connect more than one table

>Basic join-   syntax      select –from 1st table—join 2nd table—on common key

>Inner join- will join only those rows which have common values like intersection

>Outer join- it will join whether or not they have the common values

>1.left join- it will connect both tables where are not they have common values and in second tables where values are not matching it will create null

>2.Right join- it will create opposite results of left join, connect from right and null values on left

>•	Where clause in joins- it is use to filter out results we wanted

>•	Full join- It’s return all values from unmatched tables

## UNIONS

>	Use to stich two different queries together and produce result in same column. It append only distinct values

>To append even duplicate values we use UNION ALL

## JOIN ON MULTIPLE KEYS

>
•	You can join tables on multiple keys but it will have not that much effect as first join will filter most of the part

## JOIN WITH WHERE

>•	When you still want to join but inner and outer are not giving you desired results, you can use where clause as it is capable join

>•	Writing whole new query inside of where clause is possible (see hackerrank harry potter question)

## SQL DATA TYPES

> •	It has a vast list of data types but only few such as int, varchar, timestamp, Boolean

>•	Changing data types in columns use- CAST(column name AS datatype in which to change) OR column name::datatype in which to change

## SQL DATE FROMAT

>•	When you perform arithmetic on dates (such as subtracting one date from another), the results are often stored as the interval (Year-month-date hr:min:sec)data type

>•	Important if format is not in timestamp, first convert it into timestamp format

>Adding your own interval with INTERVAL FUNCTION (sELECT companies.permalink,
      
                                                  companies.founded_at_clean,
       
                                                  companies.founded_at_clean::timestamp +  INTERVAL '1 week' AS plus_one_week
  
                                                  FROM tutorial.crunchbase_companies_clean_date companies
 
                                                  WHERE founded_at_clean IS NOT NULL)

>•	In the above code we are adding 1 week interval

>We can add interval just by string like ‘1 month’, ’15 seconds’
>	For adding multiple entries (INTERVAL '5years 2months 1day 1hour') this will work
>	DATE_ADD function-(DATE_ADD(start_date, INTERVAL expr unit);

>	NOW() function

                       SELECT companies.permalink,

                       companies.founded_at_clean,

                       NOW() - companies.founded_at_clean::timestamp AS founded_time_ago
                       
>FROM tutorial.crunchbase_companies_clean_date companies

                       WHERE founded_at_clean IS NOT NULL

                       It gives the difference between current datetime and the column’s datetime

## DATA WRANGLING

>Modifying all of the values in columns or merging two columns


>Merging two columns
                                         
                                         SELECT TABLE_SCHEMA + '.' + TABLE_NAME AS ColumnZ 
                                         FROM information_schema.tables

## SQL DATA CLEANING

>Cleaning strings(left, right, trim)- all of these are used to select specific characters from string. If these are used with numbers or dates then it will treat them as purpose of function and will give output

>Left- left(column_name, position)- it will return everything before that position including position from left side

>Right- right(column_name,position)- same but from right side

>Trim- (SELECT location,
	    
        TRIM(both '()' FROM location)
	  

>FROM tutorial.sf_crime_incidents_2014_01 – it will remove parenthesis from both sides

        	The TRIM function takes 3 arguments. First, you have to specify whether you want to remove characters from the beginning ('leading'), the end ('trailing'), or both ('both', as used above). Next you must specify all characters to be trimmed. Any characters included in the single quotes will be removed from both beginning, end, or both sides of the string. Finally, you must specify the text you want to trim using FROM.

>.....POSITION – (SELECT incidnt_num,descript,
	       
>POSITION('A' IN descript) AS a_position

>FROM tutorial.sf_crime_incidents_2014_01) – it will return a position number where A appears counting from left

>...STRPOS- (SELECT incidnt_num,descript,
	     
>STRPOS(descript, 'A') AS a_position

>FROM tutorial.sf_crime_incidents_2014_01) – It will return same result as position

>...SUBSTR
>LEFT and RIGHT both create substrings of a specified length, but they only do so starting from the sides of an existing string. If you want to start in the middle of a string, you can use SUBSTR. The syntax is SUBSTR(*string*, *starting character position*, *no of characters you want*):

>Syntax-  SELECT incidnt_num,date,	  

>SUBSTR(date, 4, 2) AS day

>FROM tutorial.sf_crime_incidents_2014_01

>......CONCAT 

>M1- concat(a,b)

>M2-a || b

>....UPPER / LOWER

>SELECT incidnt_num,

>address,

>UPPER(address) AS address_upper,

>LOWER(address) AS address_lower

>FROM tutorial.sf_crime_incidents_2014_01

>....TURNING STRINGS INTO DATES

>SELECT incidnt_num,

>date,

>(SUBSTR(date, 7, 4) || '-' || LEFT(date, 2) ||

>'-' || SUBSTR(date, 4, 2))::date AS cleaned_date

>FROM tutorial.sf_crime_incidents_2014_01

>.....EXTRACT FUNCTION – will extract desired output

>SELECT cleaned_date,

>EXTRACT('year'  FROM cleaned_date) AS year,

>EXTRACT('month'  FROM cleaned_date) AS month,

>EXTRACT('day'    FROM cleaned_date) AS day,

>EXTRACT('hour'   FROM cleaned_date) AS hour,

>EXTRACT('minute' FROM cleaned_date) AS minute,

>EXTRACT('second' FROM cleaned_date) AS second,

>EXTRACT('decade' FROM cleaned_date) AS decade,

>EXTRACT('dow'    FROM cleaned_date) AS day_of_week

>FROM tutorial.sf_crime_incidents_cleandate

>...COALESCE – it replaces null values with user defined values

>SELECT incidnt_num,

>descript,

>COALESCE(descript, 'No Description')

>FROM tutorial.sf_crime_incidents_cleandate

>ORDER BY descript DESC

## SUBQUERIES

>	Subqueries are basically use to aggregate the aggregate( e.g finding avg of count)

>We can use them with select, from, where, join, AND etc.

>They are quite simple just rad the que carefully

>When you have to aggregate from certain columns use subqueries in from

>When you have to take some from specific part use in where

>SUBQUERIES-
Subquery Basic;  SELECT sub.*
 
 >FROM (
 
 >results from inner query go here
  
  >) sub
 
 >WHERE sub.resolution = 'NONE'
 
 
>You can write subqueries in from(),join(),where cluase(),having clause()

## SQL WINDOW FUNCTIONS

### Basic window syntax

>SELECT start_terminal,
      
      duration_seconds,
      
      SUM(duration_seconds) OVER
      
      (PARTITION BY start_terminal ORDER BY start_time)
      
      AS running_total
>  FROM tutorial.dc_bikeshare_q1_2012
 
 >WHERE start_time < '2012-01-08'

> they are alterantive to group by

>partition by same entries ka ek group bana deta hai

#### ROW NUMBER()

>SELECT start_terminal,
  
       start_time,
       
       duration_seconds,
       
       ROW_NUMBER() OVER (ORDER BY start_time)
       
       AS row_number
  
  >FROM tutorial.dc_bikeshare_q1_2012
 
 >WHERE start_time < '2012-01-08'

> It returns a row number

#### RANK(),DENSE_RANK()

> TO parse same entries in columns,it is better to use these functions

> dense_Rank is better than rank as rank skips one row after ranking same rows but dense_Rank didn't do that

>Syntax

>SELECT start_terminal,
 
       duration_seconds,
       
       RANK() OVER (PARTITION BY start_terminal
       
       ORDER BY start_time)
       
       AS rank
  
  >FROM tutorial.dc_bikeshare_q1_2012
 
 >WHERE start_time < '2012-01-08

#### NTILE()

> Let's assume after partition you got 16 same entries and you write ntile(4)

> so wo un 16 entries ko 4 ke groups me divide karega

>if ntile(5) to 5 ke group me divide karega

>syntax

>SELECT start_terminal,
       
       duration_seconds,
       
       NTILE(4) OVER
       
       (PARTITION BY start_terminal ORDER BY duration_seconds)
       
       AS quartile,
       
       NTILE(5) OVER
       
       (PARTITION BY start_terminal ORDER BY duration_seconds)
       
       AS quintile,
       
       NTILE(100) OVER
       
       (PARTITION BY start_terminal ORDER BY duration_seconds)
       
       AS percentile
  
  >FROM tutorial.dc_bikeshare_q1_2012
 
 >WHERE start_time < '2012-01-08'
 
 >ORDER BY start_terminal, duration_seconds

#### LAG() AND LEAD()

> It is used to compare previous and following rows

>syntax
SELECT start_terminal,
      
      duration_seconds,
      
      LAG(duration_seconds, 1) OVER
      
      (PARTITION BY start_terminal ORDER BY duration_seconds) AS lag,
      
      LEAD(duration_seconds, 1) OVER
      
      (PARTITION BY start_terminal ORDER BY duration_seconds) AS lead
  
  >FROM tutorial.dc_bikeshare_q1_2012
 
 >WHERE start_time < '2012-01-08'
 
 >ORDER BY start_terminal, duration_seconds
 
 > You can also perform arithematic operations using lag() and lead()

## Performance Tuning SQL Queries

> try to use subqueries as much as possible as it will help to reduce running time

> multiple joining can drastically affect the performance